# Unity.gitignore - Temizlendi
.utmp/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.log

# Blender assets
*.blend1
*.blend1.meta

# Memory and Recordings
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Plugins and Tools
/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user
.vs/
.gradle/

# Project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Crash and metadata
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
crashlytics-build.properties

# Addressables and Visual Scripting
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/Unity.VisualScripting.Generated/
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*